.toolbar .style-guide-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .style-guide-toolbar-tab.toolbar-tab {
  float: left;
}
.toolbar-icon-style-guide::before {
  background-image: url(../assets/style_guide.svg);
}

.avatar {
  background-image: url(../assets/Avatar.png);
}

.avatar-cody {
  background-image: url(../assets/Avatar-cody.png);
}

.avatar-courtney {
  background-image: url(../assets/Avatar-courtney.png);
}

.avatar-esther {
  background-image: url(../assets/Avatar-esther.png);
}

.avatar-jenny {
  background-image: url(../assets/Avatar-jenny.png);
}

.avatar-kristin {
  background-image: url(../assets/Avatar-kristin.png);
}

.avatar-theresa {
  background-image: url(../assets/Avatar-theresa.png);
}

.avatar-cameron {
  background-image: url(../assets/Avatar-cameron.png);
}

.person-badge {
  border-radius: 12px;
  background: var(--green-100, #D1FAE5);
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  color: var(--green-800, #065F46);
}
